*{
    font-family: Arial, Helvetica, sans-serif;
}


body{
    background-color: rgb(180, 217, 235);
    margin: 0;
}

.naslov{
    color: rgb(43, 84, 128);
    padding-left: 1rem;
    margin-top: -1rem;
}

.navbar{
    background-color: rgb(43, 84, 128);
    padding-right: 1rem;
    display: flex;
}

.zavrsni{
    color: white;
    margin-left: auto;
}

.nav{
    text-align: center;
    width: 6rem;
    color: white;
    border-right: 2px solid white;
}

.navTrenutna{
    text-align: center;
    width: 6rem;
    color: white;
    border-right: 2px solid white;
}

.sadrzaj{
    background-color: rgb(255, 255, 255);
    width: 640px;
    height: 640px;
    margin: 0 auto;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    padding: 2px;
    gap: 2px;
}

.tekst{
   background-color: rgb(43, 84, 128);
   width: 640px;
   height: 120px;
   max-height: 120px;
   overflow: auto;
   font-family: Arial, Helvetica, sans-serif;
   color: rgb(252, 250, 250);
   font-size: 14px;
   
}

.tekst p{
    margin-top: 1px;
}

.slike{
    background-color: white;
    
}

#velika{
    width: 640px;
    height: 480px;
    border-color: white;

}

#m{
    width: 59.5px;
    height: 40px;
    cursor: grab;
}

