*{
    font-family: Arial, Helvetica, sans-serif;
}


body{
    background: rgb(180, 217, 235);
    margin: 0;
}

.naslov{
    color: rgb(43, 84, 128);
    padding-left: 1rem;
    margin-top: -1rem;
}

.navbar{
    background-color: rgb(43, 84, 128);
    padding-right: 1rem;
    display: flex;
}

.zavrsni{
    color: white;
    margin-left: auto;
}

.nav{
    text-align: center;
    width: 6rem;
    color: white;
    border-right: 2px solid white;
}

.navTrenutna{
    text-align: center;
    width: 6rem;
    color: white;
    border-right: 2px solid white;
}

.tekst{
    background-color: rgb(43, 84, 128);
    color: white;
    width: 2000px;
    height: 300px;
    margin-top: 200px;
    margin-left: -7px;
    position: fixed;
    text-align: left;
    font-size: larger;
}

.tekst p{
    margin-left: 50px;
    
}